<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cellinge.as1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cellinge.as1.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cellinge.as1.NewClaimActivity"
            android:label="@string/title_activity_new_claim"
            android:parentActivityName="cellinge.as1.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cellinge.as1.MainActivity" />
        </activity>
        <activity
            android:name="cellinge.as1.VeiwClaims"
            android:label="@string/title_activity_veiw_claims" >
        </activity>
        <activity
            android:name="cellinge.as1.New_Expense"
            android:label="@string/title_activity_new__expense"
            android:parentActivityName="cellinge.as1.NewClaimActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cellinge.as1.NewClaimActivity" />
        </activity>
        <activity
            android:name="cellinge.as1.NewExpense"
            android:label="@string/title_activity_new_expence"
            android:parentActivityName="cellinge.as1.NewClaimActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cellinge.as1.NewClaimActivity" />
        </activity>
    </application>

</manifest>
